.grid-wrapper {
  width: 50%;
}

.grid-wrapper-in {
  position: relative;
  padding-bottom: 100%;
}

.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1px;
  border: 1px solid #000;
  background-color: #000;
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.cell--empty {
  background-color: #fff;
  color: #fff;
}

.cell--active .piece {
  background: repeating-linear-gradient(
      90deg,
      transparent 0px,
      transparent 3px,
      currentColor 3px,
      currentColor 4px
    ),
    repeating-linear-gradient(
      180deg,
      currentColor 0px,
      currentColor 2px,
      red 2px,
      red 4px
    );
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #000;
  color: #000;
  box-shadow: 2px 2px 4px rgb(40, 40, 40);
  transition: 0.2s;
  cursor: pointer;
}

.piece:hover {
  box-shadow: 4px 4px 10px rgb(40, 40, 40);
}

.piece--white {
  background-color: #fff;
  color: #fff;
}
