.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: currentColor;
  color: #000;
  box-shadow: 2px 2px 4px rgb(40, 40, 40);
  transition: 0.2s;
  cursor: pointer;
}

.piece:hover {
  box-shadow: 4px 4px 10px rgb(40, 40, 40);
}

.piece--white {
  color: #fff;
}

.piece--active {
  background: repeating-radial-gradient(
    currentColor 0px,
    currentColor 2px,
    red 2px,
    red 4px
  );
}

.piece--disabled {
  cursor: not-allowed;
}
